#central { justify-content: center }

#fileUpload {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 60vw;
    width: 80vw;
}

#fileUpload input[type=file]  {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#fileUpload label {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 70vw;
    height: 13vw;
    background: #2d2d2d;
    border: .1vw solid #2d2d2d;
    border-radius: 4px
}

#fileUpload label, i { color: white }

#fileUpload select {
    min-width: 70vw;
    max-width: 70vw;
    height: 8vw;
    border-radius: 5px
}

select option {
    min-width: 40vw;
}

#fileUpload button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 10vw;
    background: #2d2d2d;
    border: .1vw solid #2d2d2d;
    color: white;
    border-radius: 4px
}